.cover__background-image {
  width: 100%;
  min-height: 740px;
  background-image: url(../../../images/background.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  margin: 0;
  opacity: 0.8;
}
.cover__background-image::after {
  content: "";
  width: 100%;
  display: flex;
  opacity: 0.3;
  background-color: #2A2C2F;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  transition: opacity 1s ease-in 0.5s;
}
.cover__background-image:hover::after {
  opacity: 0.8;
}
@media screen and (max-width: 1273px) {
  .cover__background-image {
    min-height: 640px;
  }
}
@media screen and (max-width: 1023px) {
  .cover__background-image {
    min-height: 480px;
  }
}
@media screen and (max-width: 767px) {
  .cover__background-image {
    min-height: 200px;
  }
}