.cover__background-image {
  width: 100%;
  min-height: 740px;
  background-image: url(../../../images/background.png);
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  opacity: 0.3;
  transition: opacity 1s linear 0.5s;
}
.cover__background-image:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1273px) {
  .cover__background-image {
    min-height: 640px;
  }
}
@media screen and (max-width: 1023px) {
  .cover__background-image {
    min-height: 480px;
  }
}
@media screen and (max-width: 767px) {
  .cover__background-image {
    min-height: 200px;
  }
}