.cover__main-text {
  max-width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
  position: relative;
}
@media screen and (max-width: 767px) {
  .cover__main-text {
    min-width: 320px;
  }
}