.footer__copyright {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .footer__copyright{
    font-size: 14px;
    line-height: 14px;
    margin-left: 16px;
  }
}