.lead__subtitle {
  width: calc(100% - 2 * 172px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 64px;
  padding: 0px;
}
@media screen and (max-width: 1279px) {
  .lead__subtitle {
    width: calc(100% - 2 * 144px);
    margin: 0 0 56px;
  }
}
@media screen and (max-width: 1023px) {
  .lead__subtitle {
    width: calc(100% - 2 * 64px);
  }
}
@media screen and (max-width: 767px) {
  .lead__subtitle {
    width: calc(100% - 2 * 16px);
    margin: 0 0 40px;
    font-size: 16px;
    line-height: 20px;
  }
}